<%= render partial: 'form_alerts', locals: { obj: @food_cart } if @food_cart.errors.any? %>

  <%= form_for @food_cart, remote: true do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :monday_hours %>
    <%= f.text_field :monday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tuesday_hours %>
    <%= f.text_field :tuesday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :wednesday_hours %>
    <%= f.text_field :wednesday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :thursday_hours %>
    <%= f.text_field :thursday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :friday_hours %>
    <%= f.text_field :friday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :saturday_hours %>
    <%= f.text_field :saturday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sunday_hours %>
    <%= f.text_field :sunday_hours, class:'form-control' %>
  </div>
  <%= fields_for @tag do |tag|%>
    <div class="form-group">
      <%= tag.label 'Tag Name' %>
      <%= tag.text_field :name, class:'form-control' %>
      <%= select_tag(:tag, []) %>
      <select id="combobox" style="display: none;">
        <option value="">Select one...</option>
        <option value="ActionScript">ActionScript</option>
        <option value="AppleScript">AppleScript</option>
        <option value="Asp">Asp</option>
        <option value="BASIC">BASIC</option>
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="Clojure">Clojure</option>
        <option value="COBOL">COBOL</option>
        <option value="ColdFusion">ColdFusion</option>
        <option value="Erlang">Erlang</option>
        <option value="Fortran">Fortran</option>
        <option value="Groovy">Groovy</option>
        <option value="Haskell">Haskell</option>
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Lisp">Lisp</option>
        <option value="Perl">Perl</option>
        <option value="PHP">PHP</option>
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
        <option value="Scala">Scala</option>
        <option value="Scheme">Scheme</option>
      </select>
    </div>
  <% end %>

  <div class="modal-footer">
    <%= link_to "Cancel", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>

<% end %>
