<%= render partial: 'form_alerts', locals: { obj: @food_cart } if @food_cart.errors.any? %>

  <%= form_for @food_cart, remote: true do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :monday_hours %>
    <%= f.text_field :monday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tuesday_hours %>
    <%= f.text_field :tuesday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :wednesday_hours %>
    <%= f.text_field :wednesday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :thursday_hours %>
    <%= f.text_field :thursday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :friday_hours %>
    <%= f.text_field :friday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :saturday_hours %>
    <%= f.text_field :saturday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sunday_hours %>
    <%= f.text_field :sunday_hours, class:'form-control' %>
  </div>
  <div class="form-group tag-container">
    
      <%= tagForm.label 'Tag Name' %>
      <% @tags.each do |tag| %>
        <%= tagForm.check_box :name, tag.name %>
      <% end %>
  </div>

  <div class="modal-footer">
    <%= link_to "Cancel", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>

<% end %>
