<%= form_for @food_cart do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :monday_hours %>
    <%= f.text_field :monday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tuesday_hours %>
    <%= f.text_field :tuesday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :wednesday_hours %>
    <%= f.text_field :wednesday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :thursday_hours %>
    <%= f.text_field :thursday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :friday_hours %>
    <%= f.text_field :friday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :saturday_hours %>
    <%= f.text_field :saturday_hours, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sunday_hours %>
    <%= f.text_field :sunday_hours, class:'form-control' %>
  </div>
  <%= fields_for @tag do |tag|%>
    <div class="form-group">
      <%= tag.label 'Tag Name' %>
      <%= tag.text_field :name, class:'form-control' %>
    </div>
  <% end %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
