<div id="side-panel-container" class="tk-rucksack">
  <div id="side-panel-logo-container">
    <%= link_to "A Cart Apart", food_carts_path, id: "side-panel-logo" %>
    <div id="tab-view" class="pull-right">
      <%= button_tag "Tab View" %>
    </div>
  </div>
  <div id="search-box-container">
    <%= form_tag(food_carts_path, method: :get, id:"search-box-form") do %>
        <%= text_field_tag :query, params[:query], id:"search-box-input", placeholder:"Search" %>
        <%= button_tag(type: "submit", id:"search-box-submit", class:"pull-right") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
    <% end %>
  </div>
  <div id="selected-food-cart-container">
    <div class="selected-food-cart">
      <h1 class="name"></h1>
      <p class="address"></p>
      <p class="metadata">Categories: <span class="categories"></span></p>
      <p class="metadata">Phone Number: <span class="phone-number"></span></p>
      <p class="metadata">Website: <span class="website"></span></p>
      <p class="metadata">Twitter: <span class="twitter"></span></p>
      <p class="metadata">Facebook: <span class="facebook"></span></p>
      <table>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Monday:</td>
          <td class="monday_hours"></td>
        </tr>
        <tr>
          <td>Tuesday:</td>
          <td class="tuesday_hours"></td>
        </tr>
        <tr>
          <td>Wednesday:</td>
          <td class="wednesday_hours"></td>
        </tr>
        <tr>
          <td>Thursday:</td>
          <td class="thursday_hours"></td>
        </tr>
        <tr>
          <td>Friday:</td>
          <td class="friday_hours"></td>
        </tr>
        <tr>
          <td>Saturday:</td>
          <td class="saturday_hours"></td>
        </tr>
        <tr>
          <td>Sunday:</td>
          <td class="sunday_hours"></td>
        </tr>
      </table>
      <div class="reviews">
        <div class="reviews-header">
          <h3>Reviews</h3>
          <div id="add-review" class="pull-right"></div>
        </div>
        <div class="individual-review-container"></div>
      </div>
    </div>
    <p id="selected-food-cart-details"><span class="glyphicon glyphicon-chevron-up"></span> Hide Details</p>
  </div>
</div>
