<div class="index-container">
    <%= render "side_panel" %>
    <div id="login-categories" class="tk-rucksack">
      <%= render 'categories_container' %>
      <div id="account-container">
        <div id="account-button-container">
          <div id="account-button">
            <% if !current_user %>
              <a href="#" >Log In</a>
            <% else %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <%= render 'filter' %>
    <div id="cart-list"></div>
</div>
<%= render 'modal' %>
<%= render 'login_modal' %>
<%= render 'sign_up_modal' %>
