<div class="row">
  <div class="col-sm-12">
    <div id="logo-container">
    </div>
    <div id="map-sidebar">
      <div id="search-box-container">
        <%= form_tag(food_carts_path, method: :get, id:"search-box-form") do %>
            <%= text_field_tag :query, params[:query], id:"search-box-input", placeholder:"Search" %>
            <%= button_tag(type: "submit", id:"search-box-submit") do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
        <% end %>
        <div id="categories-header">
          <h3>Categories <span class="caret-left"></span></h3>
        </div>
        <div id="categories-container">
          <%= form_tag(food_carts_path, method: :get, id: 'filter-by-category') do %>
            <% @tags.each do |tag| %>
              <div class="checkbox">
                <label>
                <%= check_box_tag 'query', tag.name, false, {id: "#{tag.name}-filter" } %>
                <%= tag.name %>
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
        <div id="tab-view">
          <%= button_tag "Tab View" %>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
<div class="row">
  <main class="col-sm-12">
    <div id="cart-list">
    </div>
  </main>
</div>
<%= render 'modal' %>
