<div class="index-container">
    <%= render "side_panel" %>
    <div id="login-filters" class="tk-rucksack">
      <div id="account-button-container">
        <div id="account-button">
          <% if !current_user %>
            <a href="#" ><span class="glyphicon glyphicon-user"></span></a>
          <% else %>
            <%= link_to destroy_user_session_path, method: 'delete' do %>
              <span class="glyphicon glyphicon-log-out"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <%= render 'filter' %>
    <div id="cart-list"></div>
</div>
<%= render 'modal' %>
<%= render 'login_modal' %>
<%= render 'sign_up_modal' %>
