<div class="index-container">
    <%= render "side_panel" %>
    <div id="map-sidebar">
      <div id="search-box-container">
        <div id="categories-header">
          <h3>Categories <span class="caret-left"></span></h3>
        </div>
        <div id="categories-container">
          <%= form_tag(food_carts_path, method: :get, id: 'filter-by-category') do %>
            <% @tags.each do |tag| %>
              <div class="checkbox">
                <label>
                <%= check_box_tag 'query', tag.name, false, {id: "#{tag.name}-filter" } %>
                <%= tag.name %>
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <div id="cart-list"></div>
</div>
<%= render 'modal' %>
