<div class="row">
  <div class="col-sm-12">
    <div id="logo-container">
    </div>
    <div id="map-sidebar">
      <div id="search-box-container">
        <%= form_tag(food_carts_path, method: :get) do %>
            <%= text_field_tag :query, params[:query], class:"search-box-input", placeholder:"Search" %>
          <%= submit_tag "Search", name: nil, class:"search-box-submit" %>
        <% end %>
        <div id="categories-container">
          <% @categories.each do |category| %>
            <%= link_to category.name, query: add_query(category.name) %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
<div class="row">
  <main class="col-sm-12">
    <ul id="cart-list" class="list-unstyled tk-ff-tisa-web-pro">
    </ul>
  </main>
</div>
<%= render 'modal' %>
