var selectedReview = $("#delete-review-<%= @review.id %>").closest(".individual-review")
if ($('.individual-review').length === 1){
  selectedReview.html('<div class="individual-review no-review"><p>There are no reviews for this food cart yet!</p></div>');
} else {
  selectedReview.slideToggle("slow").remove();
  })
}







if (Number(<%= @food_cart.reviews.length %>) < 1){
  $('.average_review').empty();
  $('.review-num').html("No Reviews");
} else {
  if (Number(<%= @food_cart.reviews.length %>) === 1){
    $('.average_review').html(numToStars(<%= @food_cart.average_review %>));
    $('.review-num').html("1 review");
  } else {
    $('.average_review').html(numToStars(<%= @food_cart.average_review %>));
    $('.review-num').html("<%= "#{@food_cart.reviews.length} reviews" %>");
  }
}

function numToStars(num){
  var filledStars = Number(num);
  var outlineStars = 5 - filledStars;
  var starArr = [];
  for (var s = 1; s <= 5; s++){
    if (filledStars >= s){
      starArr.push('<span class="star-review-filled"></span>');
    } else {
      starArr.push('<span class="star-review-unfilled"></span>');
    }
  }
  return starArr.join('')
}
