<!DOCTYPE html>
<html>
<head>
  <title>ACartApartRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
  <%= render 'layouts/navbar'%>
  <%= render "layouts/error_messages" if errors %>
  <%= yield %>
  </body>
</html>
