<!DOCTYPE html>
<html>
<head>
  <title>A Cart Apart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
  <%= render 'layouts/navbar'%>
  <%= render 'layouts/alert_messages' if flash %>
  <%= yield %>
  </body>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB_JBTo1AQOiEDbMx7w5wKlXlLsiRCGss&callback=initMap"
  type="text/javascript"></script>
</html>
